{% extends "layouts/base-admin-dashboard.html" %} {% block title %} Dashboard {%
endblock %} {% block content %}
<div class="settings-container m-3">
  <div class="card mb-4 p-3">
    <div class="card-header">
      <h5 class="card-tile mb-0">Add Staff</h5>
    </div>
    <form
      method="POST"
      href="{{ url_for('admin_add_staff') }}"
    >
      <div class="row mb-3">
        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="username"
            >Username</label
          >
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="username"
            name="username"
          />
        </div>

        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="password"
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
        </div>

        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="email"
            >Email</label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="example@example.com"
            name="email"
          />
        </div>

        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="first_name"
            >First Name</label
          >
          <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            placeholder="First Name"
          />
        </div>
        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="last_name"
            >Last Name</label
          >
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            placeholder="Last Name"
          />
        </div>
        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="staff_number"
            >Staff Number</label
          >
          <input
            type="text"
            class="form-control"
            id="staff_number"
            placeholder="Staff_1"
            name="staff_number"
          />
        </div>
        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="hire_date"
            >Hire Date</label
          >
          <input
            type="date"
            class="form-control"
            id="hire_date"
            name="hire_date"
          />
        </div>
        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="position"
            >Position</label
          >
          <input
            type="text"
            class="form-control"
            id="position"
            name="position"
          />
        </div>

        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="department"
            >Department</label
          >
          <input
            type="text"
            class="form-control"
            id="department"
            name="department"
          />
        </div>

        <div class="col-6 mb-4">
          <label
            class="form-label"
            for="work_phone_number"
            >Work Phone Nunber</label
          >
          <input
            type="text"
            class="form-control"
            id="work_phone_number"
            name="work_phone_number"
          />
        </div>
      </div>

      <div class="msg mb-4">{{ msg }}</div>

      <div class="col-12 mt-3">
        <input
          type="submit"
          value="Add a New Staff"
          class="btn"
        />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
