{% extends "layouts/base-staff-dashboard.html" %} {% block title %} Dashboard {%
endblock %} {% block content %}
<div class="dashboard-container">
  <div class="d-flex m-4">
    <div class="col-8 d-flex flex-column me-4">
      <div class="card p-4 mb-4">
        <p class="mb-4">Hi, John.</p>
        <p>Welcome back to the dashboard. 🎉</p>
      </div>
      <div class="card p-4">HII</div>
    </div>

    <div class="card col-4 p-4">
      <img
        src="../static/assets/img/avatar.jpg"
        alt="mdo"
        class="d-block ms-0 ms-sm-4 rounded user-profile-img"
      />

      <small class="text-muted text-uppercase">About</small>
      <ul class="list-unstyled mb-4 mt-3">
        <li class="d-flex align-items-center mb-3">
          <i class="bx bx-user"></i
          ><span class="fw-medium mx-2">Full Name:</span>
          <span>John Doe</span>
        </li>
        <li class="d-flex align-items-center mb-3">
          <i class="bx bx-check"></i><span class="fw-medium mx-2">Status:</span>
          <span>Active</span>
        </li>
        <li class="d-flex align-items-center mb-3">
          <i class="bx bx-star"></i><span class="fw-medium mx-2">Role:</span>
          <span>Developer</span>
        </li>
      </ul>
      <small class="text-muted text-uppercase">Contacts</small>
      <ul class="list-unstyled mb-4 mt-3">
        <li class="d-flex align-items-center mb-3">
          <i class="bx bx-phone"></i
          ><span class="fw-medium mx-2">Contact:</span>
          <span>(+64) 456-7890</span>
        </li>

        <li class="d-flex align-items-center mb-3">
          <i class="bx bx-envelope"></i
          ><span class="fw-medium mx-2">Email:</span>
          <span>john.doe@example.com</span>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
