{% extends "layouts/base-admin-dashboard.html" %} {% block title %} Dashboard {%
endblock %} {% block content %}
<div class="settings-container m-3">
  <div class="card mb-4 p-3">
    <h5 class="card-header">Delete Staff</h5>
    <form
      action="/admin/delete-staff"
      method="POST"
    >
      <div class="col-md-4">
        <select
          name="staff_id"
          class="form-select"
          id="staff_id"
          required
        >
          <option selected>Please Select Staff ID</option>
          {% for staffid in staffIds %}
          <option value="{{ staffid[0] }}">{{ staffid[0] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="msg mb-4">{{ msg }}</div>
      <div class="col-12 mt-3">
        <input
          type="submit"
          value="Delete Staff"
          class="btn"
        />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
