{% extends "layouts/base-admin-dashboard.html" %} {% block title %} Dashboard {%
endblock %} {% block content %}
<div class="settings-container m-3">
  <div class="card mb-4 p-3">
    <h5 class="card-header">Delete Guide</h5>
    <form
      action="/admin/delete-guide"
      method="POST"
    >
      <div class="col-md-4">
        <select
          name="ocean_id"
          class="form-select"
          id="ocean_id"
          required
        >
          <option selected>Please Select the Pest or Disease ID</option>
          {% for oceanid in oceanIds %}
          <option value="{{ oceanid[0] }}">{{ oceanid[0] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="msg mb-4">{{ msg }}</div>
      <div class="col-12 mt-3">
        <input
          type="submit"
          value="Delete Guide"
          class="btn"
        />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
