{% extends "layouts/base-admin-dashboard.html" %} {% block title %} Dashboard {%
endblock %} {% block content %}
<div class="settings-container m-3">
  <div class="card mb-4 p-3">
    <h5 class="card-header">Update Guide</h5>

    <form
      method="POST"
      class="row g-3 needs-validation"
      href="{{ url_for('admin_update_guide') }}"
      enctype="multipart/form-data"
    >
      <div class="col-md-4">
        <select
          name="ocean_id"
          class="form-select"
          id="ocean_id"
          required
        >
          <option selected>Please Select the Pest or Disease ID</option>
          {% for guide in guides %}
          <option value="{{ guide[0] }}">{{ guide[0] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-4">
        <div class="col">
          <div class="position-relative">
            <select
              id="ocean_type"
              class="select2 form-select select2-hidden-accessible"
              name="ocean_type"
            >
              <option value="">Ocean Type</option>
              <option value="pest">Pest</option>
              <option value="disease">Disease</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col">
          <div class="position-relative">
            <select
              id="present_in_nz"
              class="select2 form-select select2-hidden-accessible"
              name="present_in_nz"
            >
              <option value="">Present in NZ</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <input
          name="common_name"
          type="text"
          id="common_name"
          class="form-control col-md-3"
          placeholder="Common Name"
        />
      </div>

      <div class="col-md-4">
        <input
          name="scientific_name"
          id="scientific_name"
          type="text"
          class="form-control col-md-3"
          placeholder="Scientific Name"
        />
      </div>

      <div>
        <label class="form-label">Characteristics</label>
        <textarea
          class="form-control"
          aria-label="characteristics"
          id="characteristics"
          name="characteristics"
        ></textarea>
      </div>

      <div>
        <label class="form-label">Description</label>
        <textarea
          class="form-control"
          aria-label="description"
          id="description"
          name="description"
        ></textarea>
      </div>

      <div>
        <label class="form-label">Threats</label>
        <textarea
          class="form-control"
          aria-label="threats"
          id="threats"
          name="threats"
        ></textarea>
      </div>
      <div>
        <input
          type="file"
          id="Images"
          name="images"
          accept="image/*"
          multiple
        />
      </div>
      <div class="msg mb-4">{{ msg }}</div>
      <div class="col-12">
        <input
          type="submit"
          value="Update"
          class="btn btn-primary"
        />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
