{% extends "layouts/base-admin-dashboard.html" %} {% block title %} Dashboard {%
endblock %} {% block content %}
<div class="settings-container m-3">
  <div class="card mb-4 p-3">
    <h5 class="card-header">Update Staff</h5>
    <form
      method="POST"
      class="row g-3 needs-validation"
      href="{{ url_for('admin_update_staff') }}"
    >
      <div class="col-md-4">
        <label class="form-label">Staff Number</label>
        <select
          name="staff_number"
          class="form-select"
          id="staff_number"
          required
        >
          <option selected>Please Select Staff Number</option>
          {% for staff in staffs %}
          <option value="{{ staff[0] }}">{{ staff[0] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Hire Date</label>
        <input
          name="hire_date"
          type="date"
          class="form-control col-md-3"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Position</label>
        <input
          name="position"
          type="text"
          class="form-control col-md-3"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">Department</label>
        <input
          name="department"
          type="text"
          class="form-control col-md-3"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">Work Phone Pnumber</label>
        <input
          class="form-control"
         
          id="work_phone_number"
          name="work_phone_number"
        ></input>
      </div>

      <div class="msg mb-4">{{ msg }}</div>
      <div class="col-12">
        <input
          type="submit"
          value="Update"
          class="btn btn-primary"
        />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
